/*
    Body and Container
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
}

/*
    Navigation
*/

nav {
    /*position: fixed;*/
    width: 100%;
}

nav div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav div .title {
    margin-left : 15px;
    font-weight: bold;
    font-family: Arial;
}

nav div ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0; /* 꽉 채움 */
    padding: 0; /* li가 indent 안되도록 함 */
}

nav div ul div {
    width: 100px;
    margin: auto;
    text-align: center;
}

/*
    Title Page
*/

#title {
    display: flex;
    flex-flow: column nowrap;
    background-image: url("/static/temp_profile.jpg");
    background-size: cover;
    background-position: center center;
    /*background-repeat: no-repeat;*/
    height: 100%;
    font-size: 150%;
}

.panel {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 45%;
    display: flex;
}

.panel div {
    margin: auto;
}

/*
    Introduction
*/

.intro {
    display: flex;
    margin-top: 5%;
    border-top: 3px solid rgba(0,0,0,0.1);
}

.intro aside{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.intro aside span{
    display: block;
    margin: auto;
    font-size: 150%;
}

.intro div{
    width: 70%;
}

.intro div p{
    font-size: 150%;
    word-break: keep-all;
}

.highlight {
    font-weight: bold;
}
