/*
    Body and Container
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 

html { height: 100%; }

body {
    margin: 0;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav {
    flex-grow: 0;
}
#upper {
    flex-grow: 1;
}
#lower {
    flex-grow: 0;
    height: 15%;
}


/* 
    Navigation Bar 
*/

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav .title {
    margin-left : 15px;
    font-weight: bold;
    font-family: Arial;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0; /* 꽉 채움 */
    padding: 0; /* li가 indent 안되도록 함 */
}

nav ul div {
    width: 100px;
    margin: auto;
    text-align: center;
}

/*
    Upper Section
*/

#upper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.paper {
    margin: auto;
    width: 600px;
    display: flex;
    position: fixed;
}

.paper .image {
    width: 40%;
    display: flex;
    padding: 5px;
    margin-right: 5%;
}

.paper .image img {
    max-width: 100%;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.paper .content {
    width: 55%;
    word-break: keep-all;
    font-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.paper .content .seperator_line {
    width: 20px;
    height: 85%;
    border-left: 1px solid gray;
}

/*
    Lower Section
*/

#lower {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

#lower button {
    width: 100%;
    border: none;
    transition: background-color 0.2s ease;
}

#lower button p {
    color: white;
    font-size: 150%;
    margin: auto;
}

/*
    Miscellaneous 
*/

.seperator_line {
    border-left: 1px solid #b0b0b7;
    border-bottom: 1px solid #b0b0b7;
    margin-top: auto;
    margin-bottom: auto;
}

#lower .seperator_line{
    width: 0px;
    height: 100%;
}






.paper {
    transition: transform 1s, height 1s;
    backface-visibility: hidden;
}
.paper:active {
    transform: rotateX(180deg);
    height: 75%;
}


/*
    Colors
*/

body{
    background-color: rgb(218,241,248);
}
nav {
    background-color: rgb(248,252,254);
}
nav .title {
    color: #6c6c6c;
}
.paper {
    background-color: white;
    border: 3px solid gray;
}
#lower {
    background-color: rgb(10,130,188);
}
#lower button {
    background-color: rgb(10,130,188);
}
#lower button:hover {
    background-color: #14133f;
}
#lower button:active {
    background-color: black;
}
