/*
    Body and Container
*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css); 

html {
    height: 100%;
    word-break: keep-all;
}

body {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0;
    margin: 0;
}

p {
    font-size: 125%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    font-weight: bold;
    color: rgb(44, 117, 190);
    /*color: rgb(49, 79, 134);*/
}

/*
    Navigation
*/

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

nav div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px; /* navigation height */
}

nav div p {
    margin-left : 15px;
    font-weight: bold;
    font-family: Arial;
    margin-top: auto;
    margin-bottom: auto;
}

nav div div {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.pagedown {
    width: 100px;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.pagedown:hover {
    background-color: rgba(0,0,0,0.9);
}

.pagedown p {
    font-size: 100%;
    margin: auto;
}

/*
    Title Page
*/

#title {
    display: flex;
    flex-flow: column nowrap;
    background-image: url("/static/profile.jpg");
    background-size: cover;
    background-position: center center;
    /*background-repeat: no-repeat;*/
    height: 100%;
    font-size: 150%;
}

.panel {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 45%;
    display: flex;
    padding: 20px;
}

.panel h1{
    text-align: center;
}

.panel h2{
    text-align: left;
}

.panel div {
    margin: auto;
}

/*
    Contents
*/

#intro h1 {
    color: rgba(0, 0, 0, 0.3);
}
#intro h1 span {
    color: rgb(49, 79, 134);
}

.display h1 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.splitter {
    width: 30%;
    height: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    margin-top : 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.unit{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.image img{
    width: 300px;
    height: auto;
}

.content {
    width: 50%;
    display: flex;
    margin-left: 5%;
}

.content p {
    margin: auto;
}


@media all and (max-width: 992px) {
.unit{
    flex-direction: column;
}
.image{
    margin-top : 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.image img{
    width: 100%;
}
.content{
    margin-top : 30px;
    width: 90%;
    text-align: center;
}
}

.lead {
    font-weight: bold;
    width: 100%;
    text-align: center;
}

/*
    Objective
*/

.topic {
    font-size: 150%;
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}
.container *{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container .date {
    text-align: center;
    color: gray;
}

.incomplete {
    display: none;
}

.complete {
    display: inline;
    background-color: green;
    color: white;
    font-size: 75%;
    padding: 5px;
}

.in-progress {
    display: inline;
    background-color: rgb(234, 152, 0);
    color: white;
    font-size: 75%;
    padding: 5px;
}

